body {
    background-image: url("/img/space.jpg");
    background-size: cover;
    background-color: rgba(43, 10, 134, 0.896);
    color: rgb(255, 255, 255);
    font-family: "Papyrus";
    text-align: center;
    margin: auto;
}

h2 {
    padding: 0;
}

.btn {
    background-color: #000000;
    border-radius: 30%;
    border: #c800d3 solid 1px;
    color: white;
}

.board {
    margin: auto;
}

.sky {
    background-color: #000000;
}

.earth {
    background-color: #d30000;
}

td {
    width: 30px;
    height: 30px;
}

img {
    padding: 2px;
    height: 25px;
    width: 25px;
}

.modal {
    background-image: url("/img/space.jpg");
    display: none;
    border: solid 3px #c800d3;
    width: 300px;
    height: 200px;
    background-color: rgb(108, 5, 211);
    color: white;
    font-size: 32px;
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50% - 150px);
}