body {
    background-image: url("../img/space.jpg");
    background-size: cover;
    background-color: rgba(23, 0, 88, 0.896);
    color: rgb(255, 255, 255);
    font-family: "Papyrus";
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.instructions {
    padding-left: 5px;
    left: 20px;
    height: 510px;
    width: 300px;
    color: white;
    background-color: #000000;
    border: #c800d3 solid 2px;
    border-radius: 10%;
    bottom: calc(50% - 225px);
    text-align: left;
    font-weight: lighter;
    position: absolute;
}

.btn {
    margin-top: 10px;
    height: 30px;
    background-color: #000000;
    border-radius: 30%;
    border: #c800d3 solid 2px;
    color: white;
}

.board {
    top: 100px;
    margin: auto;
}

td {
    width: 30px;
    height: 30px;
}

img {
    padding: 2px;
    height: 25px;
    width: 25px;
}

.sky {
    background-color: #000000;
}

.earth {
    background-image: url("../img/tile1.png");
    background-color: #910101;
    background-size: cover;
}

.modal {
    background-image: url("../img/space.jpg");
    background-size: cover;
    display: none;
    border: solid 3px rgb(106, 0, 255);
    width: 300px;
    height: 200px;
    background-color: rgb(108, 5, 211);
    color: white;
    font-size: 30px;
    position: absolute;
    top: calc(40%);
    right: calc(50% - 150px);
}

.game-status {
    padding-right: 5px;
    right: 150px;
    height: 300px;
    width: 200px;
    color: white;
    background-color: #000000;
    border: #c800d3 solid 2px;
    border-radius: 30%;
    bottom: calc(50% - 100px);
    position: absolute;
}